<a href="https://colab.research.google.com/github/Abhii2404/6thSem-ML-Lab/blob/main/%E2%80%9C1BM22CS006_Lab_1_DataPreprocessing_ipynb%E2%80%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Housing

In [14]:
import pandas as pd

# i. To load .csv file into the data frame
file_path = 'housing.csv'
df = pd.read_csv(file_path)

In [15]:
# ii. To display information of all columns
print("Information about all columns:")
print(df.info())
print("\n")

Information about all columns:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

In [16]:
# iii. To display statistical information of all numerical columns
print("Statistical information of numerical columns:")
print(df.describe())
print("\n")

Statistical information of numerical columns:
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [17]:
# iv. To display the count of unique labels for "Ocean Proximity" column
print("Count of unique labels for 'Ocean Proximity':")
print(df['ocean_proximity'].value_counts())
print("\n")

Count of unique labels for 'Ocean Proximity':
ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [18]:
# v. To display which attributes (columns) in a dataset have missing values count greater than zero
print("Columns with missing values:")
print(df.isnull().sum()[df.isnull().sum() > 0])

Columns with missing values:
total_bedrooms    207
dtype: int64

Diabetes and Adult income

In [21]:
import pandas as pd
from sklearn.impute import SimpleImputer


diabetes_df = pd.read_csv('diabetes.csv')


adult_df = pd.read_csv('adult.csv')
# Check for missing values in Diabetes dataset
print("Missing values in Diabetes dataset:")
print(diabetes_df.isnull().sum())

# Check for missing values in Adult Income dataset
print("\nMissing values in Adult Income dataset:")
print(adult_df.isnull().sum())

Missing values in Diabetes dataset:
ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

Missing values in Adult Income dataset:
age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64